# Python build artifacts
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Specific to your project
fabbit.egg-info/

# Virtual environments
venv/
env/
.venv/

# IDE-specific files
.vscode/
.idea/

# Miscellaneous
*.log
.DS_Store